In [26]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [27]:
ammonium = pd.read_parquet('data/Chemical measurements influent 2023_2024/ammonium_2024.parquet')
ammonium = ammonium.rename(columns={"hstWaarde": "hstWaarde_ammonium"})

nitrate = pd.read_parquet('data/Chemical measurements influent 2023_2024/nitrate_2024.parquet')
nitrate = nitrate.rename(columns={"hstWaarde": "hstWaarde_nitrate"})

phosphate = pd.read_parquet('data/Chemical measurements influent 2023_2024/phosphate_2024.parquet')
phosphate = phosphate.rename(columns={"hstWaarde": "hstWaarde_phosphate"})

oxygen_a = pd.read_parquet('data/OxygenData2024/oxygen_a_2024.parquet')
oxygen_a = oxygen_a.rename(columns={"hstWaarde": "hstWaarde_oxygen_a"})

oxygen_b = pd.read_parquet('data/OxygenData2024/oxygen_b_2024.parquet')
oxygen_b = oxygen_b.rename(columns={"hstWaarde": "hstWaarde_oxygen_b"})

combined = pd.concat([ammonium, nitrate, phosphate, oxygen_a, oxygen_b], axis=1)
combined = combined.drop(columns=['waardebewerkingsmethodeCode'])
cols_to_convert = [
    'hstWaarde_ammonium',
    'hstWaarde_nitrate',
    'hstWaarde_phosphate',
    'hstWaarde_oxygen_a',
    'hstWaarde_oxygen_b'
]
combined[cols_to_convert] = combined[cols_to_convert].apply(pd.to_numeric, errors='coerce')

In [22]:
print(combined)

            historianTagnummer  hstWaarde_ammonium     datumBeginMeting  \
0      EDE_B121069913_K600.MTW               1.310  2023-01-01 00:00:00
1      EDE_B121069913_K600.MTW               1.251  2023-01-01 00:01:00
2      EDE_B121069913_K600.MTW               1.182  2023-01-01 00:02:00
3      EDE_B121069913_K600.MTW               1.181  2023-01-01 00:03:00
4      EDE_B121069913_K600.MTW               1.179  2023-01-01 00:04:00
...                        ...                 ...                  ...
44635  EDE_B121069913_K600.MTW               1.688  2023-12-31 23:55:00
44636  EDE_B121069913_K600.MTW               1.665  2023-12-31 23:56:00
44637  EDE_B121069913_K600.MTW               1.642  2023-12-31 23:57:00
44638  EDE_B121069913_K600.MTW               1.619  2023-12-31 23:58:00
44639  EDE_B121069913_K600.MTW               1.496  2023-12-31 23:59:00

          datumEindeMeting       historianTagnummer  hstWaarde_nitrate  \
0      2023-01-01 00:01:00  EDE_B121069914_K600.MTW              4.730
1      2023-01-01 00:02:00  EDE_B121069914_K600.MTW              4.730
2      2023-01-01 00:03:00  EDE_B121069914_K600.MTW              4.730
3      2023-01-01 00:04:00  EDE_B121069914_K600.MTW              4.675
4      2023-01-01 00:05:00  EDE_B121069914_K600.MTW              4.605
...                    ...                      ...                ...
44635  2023-12-31 23:56:00  EDE_B121069914_K600.MTW              8.916
44636  2023-12-31 23:57:00  EDE_B121069914_K600.MTW              9.059
44637  2023-12-31 23:58:00  EDE_B121069914_K600.MTW              9.073
44638  2023-12-31 23:59:00  EDE_B121069914_K600.MTW              9.088
44639  2024-01-01 00:00:00  EDE_B121069914_K600.MTW              9.102

          datumBeginMeting     datumEindeMeting       historianTagnummer  \
0      2023-01-01 00:00:00  2023-01-01 00:01:00  EDE_B121069917_K600.MTW
1      2023-01-01 00:01:00  2023-01-01 00:02:00  EDE_B121069917_K600.MTW
2      2023-01-01 00:02:00  2023-01-01 00:03:00  EDE_B121069917_K600.MTW
3      2023-01-01 00:03:00  2023-01-01 00:04:00  EDE_B121069917_K600.MTW
4      2023-01-01 00:04:00  2023-01-01 00:05:00  EDE_B121069917_K600.MTW
...                    ...                  ...                      ...
44635  2023-12-31 23:55:00  2023-12-31 23:56:00  EDE_B121069917_K600.MTW
44636  2023-12-31 23:56:00  2023-12-31 23:57:00  EDE_B121069917_K600.MTW
44637  2023-12-31 23:57:00  2023-12-31 23:58:00  EDE_B121069917_K600.MTW
44638  2023-12-31 23:58:00  2023-12-31 23:59:00  EDE_B121069917_K600.MTW
44639  2023-12-31 23:59:00  2024-01-01 00:00:00  EDE_B121069917_K600.MTW

       hstWaarde_phosphate     datumBeginMeting     datumEindeMeting  \
0                    0.001  2023-01-01 00:00:00  2023-01-01 00:01:00
1                    0.001  2023-01-01 00:01:00  2023-01-01 00:02:00
2                    0.000  2023-01-01 00:02:00  2023-01-01 00:03:00
3                    0.000  2023-01-01 00:03:00  2023-01-01 00:04:00
4                    0.000  2023-01-01 00:04:00  2023-01-01 00:05:00
...                    ...                  ...                  ...
44635                0.160  2023-12-31 23:55:00  2023-12-31 23:56:00
44636                0.139  2023-12-31 23:56:00  2023-12-31 23:57:00
44637                0.097  2023-12-31 23:57:00  2023-12-31 23:58:00
44638                0.096  2023-12-31 23:58:00  2023-12-31 23:59:00
44639                0.095  2023-12-31 23:59:00  2024-01-01 00:00:00

            historianTagnummer  hstWaarde_oxygen_a     datumBeginMeting  \
0      EDE_B121069901_K600.MTW               1.663  2023-01-01 00:00:00
1      EDE_B121069901_K600.MTW               1.789  2023-01-01 00:01:00
2      EDE_B121069901_K600.MTW               2.105  2023-01-01 00:02:00
3      EDE_B121069901_K600.MTW               2.271  2023-01-01 00:03:00
4      EDE_B121069901_K600.MTW               2.168  2023-01-01 00:04:00
...                        ...                 ...                  ...
44635  EDE_B121069901_K600.MTW               1.635  2023-12-31 23:55:00
44636  EDE_B121069901_K600.MTW               1.841  2023-12-31 23:56:00
44637  EDE_B121069901_K600.MTW               1.816  2023-12-31 23:57:00
44638  EDE_B121069901_K600.MTW               1.812  2023-12-31 23:58:00
44639  EDE_B121069901_K600.MTW               1.884  2023-12-31 23:59:00

          datumEindeMeting       historianTagnummer  hstWaarde_oxygen_b  \
0      2023-01-01 00:01:00  EDE_B121069907_K600.MTW               0.777
1      2023-01-01 00:02:00  EDE_B121069907_K600.MTW               0.982
2      2023-01-01 00:03:00  EDE_B121069907_K600.MTW               1.189
3      2023-01-01 00:04:00  EDE_B121069907_K600.MTW               1.266
4      2023-01-01 00:05:00  EDE_B121069907_K600.MTW               1.403
...                    ...                      ...                 ...
44635  2023-12-31 23:56:00  EDE_B121069907_K600.MTW               0.596
44636  2023-12-31 23:57:00  EDE_B121069907_K600.MTW               0.726
44637  2023-12-31 23:58:00  EDE_B121069907_K600.MTW               0.843
44638  2023-12-31 23:59:00  EDE_B121069907_K600.MTW               0.880
44639  2024-01-01 00:00:00  EDE_B121069907_K600.MTW               0.856

          datumBeginMeting     datumEindeMeting
0      2023-01-01 00:00:00  2023-01-01 00:01:00
1      2023-01-01 00:01:00  2023-01-01 00:02:00
2      2023-01-01 00:02:00  2023-01-01 00:03:00
3      2023-01-01 00:03:00  2023-01-01 00:04:00
4      2023-01-01 00:04:00  2023-01-01 00:05:00
...                    ...                  ...
44635  2023-12-31 23:55:00  2023-12-31 23:56:00
44636  2023-12-31 23:56:00  2023-12-31 23:57:00
44637  2023-12-31 23:57:00  2023-12-31 23:58:00
44638  2023-12-31 23:58:00  2023-12-31 23:59:00
44639  2023-12-31 23:59:00  2024-01-01 00:00:00

[525049 rows x 20 columns]

In [23]:
combined = combined.drop(columns=['datumBeginMeting', 'datumEindeMeting', 'historianTagnummer'])
corr = combined.corr()
plt.figure(figsize=(10, 8))
sns.heatmap(corr, annot=True, cmap='coolwarm', fmt='.2f', linewidths=0.5, square=True)
plt.title("Correlation Heatmap")
plt.show()

ValueError: could not convert string to float: 'EDE_B121069913_K600.MTW'

In [5]:
oxygen_a = pd.read_parquet('data/OxygenData2024/oxygen_a_2024.parquet')
legacy_oxygen_a = pd.read_parquet('data/HistoricalWWTPData/DTWINTERNALWWTPDATA/Oxygen Data/zuurstofA_EDE_B121069901_K600.MTW.parquet')
merged_oxygen_a = pd.concat([legacy_oxygen_a, oxygen_a], ignore_index=True)
print(merged_oxygen_a)

             historianTagnummer hstWaarde     datumBeginMeting  \
0       EDE_B121069901_K600.MTW     0.003  2021-01-01 00:00:00
1       EDE_B121069901_K600.MTW     0.003  2021-01-01 00:01:00
2       EDE_B121069901_K600.MTW     0.003  2021-01-01 00:02:00
3       EDE_B121069901_K600.MTW     0.003  2021-01-01 00:03:00
4       EDE_B121069901_K600.MTW     0.003  2021-01-01 00:04:00
...                         ...       ...                  ...
961233  EDE_B121069901_K600.MTW     1.635  2023-12-31 23:55:00
961234  EDE_B121069901_K600.MTW     1.841  2023-12-31 23:56:00
961235  EDE_B121069901_K600.MTW     1.816  2023-12-31 23:57:00
961236  EDE_B121069901_K600.MTW     1.812  2023-12-31 23:58:00
961237  EDE_B121069901_K600.MTW     1.884  2023-12-31 23:59:00

           datumEindeMeting waardebewerkingsmethodeCode
0       2021-01-01 00:01:00                         NaN
1       2021-01-01 00:02:00                         NaN
2       2021-01-01 00:03:00                         NaN
3       2021-01-01 00:04:00                         NaN
4       2021-01-01 00:05:00                         NaN
...                     ...                         ...
961233  2023-12-31 23:56:00
961234  2023-12-31 23:57:00
961235  2023-12-31 23:58:00
961236  2023-12-31 23:59:00
961237  2024-01-01 00:00:00

[961238 rows x 5 columns]

In [9]:
oxygen_b = pd.read_parquet('data/OxygenData2024/oxygen_b_2024.parquet')
legacy_oxygen_b = pd.read_parquet('data/HistoricalWWTPData/DTWINTERNALWWTPDATA/Oxygen Data/zuurstofB_EDE_B121069907_K600.MTW.parquet')
merged_oxygen_b = pd.concat([oxygen_b, legacy_oxygen_b], ignore_index=True)
print(merged_oxygen_b)

              historianTagnummer hstWaarde     datumBeginMeting  \
0        EDE_B121069907_K600.MTW     0.777  2023-01-01 00:00:00
1        EDE_B121069907_K600.MTW     0.982  2023-01-01 00:01:00
2        EDE_B121069907_K600.MTW     1.189  2023-01-01 00:02:00
3        EDE_B121069907_K600.MTW     1.266  2023-01-01 00:03:00
4        EDE_B121069907_K600.MTW     1.403  2023-01-01 00:04:00
...                          ...       ...                  ...
1050513  EDE_B121069907_K600.MTW     0.549  2021-12-31 23:55:00
1050514  EDE_B121069907_K600.MTW     0.559  2021-12-31 23:56:00
1050515  EDE_B121069907_K600.MTW     0.554  2021-12-31 23:57:00
1050516  EDE_B121069907_K600.MTW     0.568  2021-12-31 23:58:00
1050517  EDE_B121069907_K600.MTW     0.563  2021-12-31 23:59:00

            datumEindeMeting waardebewerkingsmethodeCode
0        2023-01-01 00:01:00
1        2023-01-01 00:02:00
2        2023-01-01 00:03:00
3        2023-01-01 00:04:00
4        2023-01-01 00:05:00
...                      ...                         ...
1050513  2021-12-31 23:56:00                         NaN
1050514  2021-12-31 23:57:00                         NaN
1050515  2021-12-31 23:58:00                         NaN
1050516  2021-12-31 23:59:00                         NaN
1050517  2022-01-01 00:00:00                         NaN

[1050518 rows x 5 columns]

In [7]:
water_flow = pd.read_parquet('data/Influent_Flow_2023.parquet')
water_flow

,historianTagnummer,hstWaarde,datumBeginMeting,datumEindeMeting,waardebewerkingsmethodeCode
0,EDE_09902MTW_K100.MTW,3330.199,2023-01-01 00:00:00,2023-01-01 00:01:00,
1,EDE_09902MTW_K100.MTW,3288.798,2023-01-01 00:01:00,2023-01-01 00:02:00,
2,EDE_09902MTW_K100.MTW,3260.545,2023-01-01 00:02:00,2023-01-01 00:03:00,
3,EDE_09902MTW_K100.MTW,3253.279,2023-01-01 00:03:00,2023-01-01 00:04:00,
4,EDE_09902MTW_K100.MTW,3263.276,2023-01-01 00:04:00,2023-01-01 00:05:00,
...,...,...,...,...,...
44635,EDE_09902MTW_K100.MTW,627.162,2023-12-31 23:55:00,2023-12-31 23:56:00,
44636,EDE_09902MTW_K100.MTW,1433.649,2023-12-31 23:56:00,2023-12-31 23:57:00,
44637,EDE_09902MTW_K100.MTW,1637.519,2023-12-31 23:57:00,2023-12-31 23:58:00,
44638,EDE_09902MTW_K100.MTW,1933.898,2023-12-31 23:58:00,2023-12-31 23:59:00,
44639,EDE_09902MTW_K100.MTW,2564.203,2023-12-31 23:59:00,2024-01-01 00:00:00,

In [11]:
sensor_13 = pd.read_parquet('data/HistoricalWWTPData/DTWINTERNALWWTPDATA/Data/EDE_B121069913_K600.MTW.parquet')
sensor_14 = pd.read_parquet('data/HistoricalWWTPData/DTWINTERNALWWTPDATA/Data/EDE_B121069914_K600.MTW.parquet')
sensor_17 = pd.read_parquet('data/HistoricalWWTPData/DTWINTERNALWWTPDATA/Data/EDE_B121069917_K600.MTW.parquet')
combined_sensors = pd.concat([sensor_13, sensor_14, sensor_17])
print(combined_sensors)

            historianTagnummer hstWaarde     datumBeginMeting  \
0      EDE_B121069913_K600.MTW     4.487  2021-01-01 00:00:00
1      EDE_B121069913_K600.MTW     4.263  2021-01-01 00:01:00
2      EDE_B121069913_K600.MTW     4.173  2021-01-01 00:02:00
3      EDE_B121069913_K600.MTW     4.194  2021-01-01 00:03:00
4      EDE_B121069913_K600.MTW     4.214  2021-01-01 00:04:00
...                        ...       ...                  ...
44635  EDE_B121069917_K600.MTW     1.935  2021-12-31 23:55:00
44636  EDE_B121069917_K600.MTW     1.944  2021-12-31 23:56:00
44637  EDE_B121069917_K600.MTW     2.092  2021-12-31 23:57:00
44638  EDE_B121069917_K600.MTW     2.133  2021-12-31 23:58:00
44639  EDE_B121069917_K600.MTW     2.133  2021-12-31 23:59:00

          datumEindeMeting
0      2021-01-01 00:01:00
1      2021-01-01 00:02:00
2      2021-01-01 00:03:00
3      2021-01-01 00:04:00
4      2021-01-01 00:05:00
...                    ...
44635  2021-12-31 23:56:00
44636  2021-12-31 23:57:00
44637  2021-12-31 23:58:00
44638  2021-12-31 23:59:00
44639  2022-01-01 00:00:00

[1269797 rows x 4 columns]

In [ ]:
df = pd.read_parquet('')